@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
h1, h2, h3, h4, h5, p, ul, li {
  margin: 0; }

#reply-title {
  font-weight: 300;
  color: #f37945;
  margin-top: 18px; }

.comment-form {
  background-color: #fff;
  padding: 18px; }
  .comment-form .comment-notes {
    font-style: italic;
    color: gray; }
  .comment-form [class*="comment-form-"] {
    margin-bottom: 9px; }
  .comment-form label {
    display: block;
    color: #7bcdcb; }
  .comment-form .form-allowed-tags {
    display: none; }
  .comment-form input[type="submit"] {
    margin: 0;
    padding: 12px 24px;
    background: #7bcdcb;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    border: none; }
    .comment-form input[type="submit"]:hover {
      background-color: #a0dbda; }

#comments {
  margin-top: 18px; }

.comments {
  list-style: none;
  padding: 0;
  margin: 0; }
  .comments li {
    padding: 0;
    margin: 0;
    background-color: #fff;
    border-radius: 18px;
    padding: 18px;
    margin-bottom: 18px; }
    .comments li .commentor-name {
      color: gray; }
      .comments li .commentor-name .comment-by {
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 8px;
        line-height: 16px;
        text-align: center;
        background-color: #f37945;
        color: #fff;
        font-size: 10px; }

* {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  color: #444; }

a {
  text-decoration: none;
  color: #7bcdcb; }
  a:hover {
    text-decoration: underline; }

[role="main"] {
  padding-top: 368px;
  background-color: #f6f6f6; }

#header {
  width: 100%;
  height: 350px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow: hidden; }
  #header .header_image {
    position: absolute;
    margin: 0 auto;
    height: 350px; }
  #header > .container {
    position: relative;
    height: 100%; }

#header-logo {
  position: absolute;
  bottom: 30px;
  left: 0;
  display: block;
  line-height: auto;
  background-color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }
  #header-logo > a {
    color: #06b19c;
    line-height: 36px;
    font-size: 36px;
    padding: 18px;
    display: block;
    font-weight: 300;
    text-decoration: none;
    position: relative; }
    #header-logo > a:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 75%;
      width: 21px;
      height: 21px;
      background-image: url(../img/carat.png);
      background-repeat: no-repeat;
      background-position: top left; }

#sidebar-right {
  padding: 18px;
  border-top: solid thin #eee;
  border-bottom: solid thin #ddd;
  background-color: #fff;
  border-radius: 18px; }

#footer {
  background-color: #424242; }

.container {
  max-width: 1080px;
  margin: 0 auto; }

.module {
  padding: 18px;
  border-top: solid thin #eee;
  border-bottom: solid thin #ddd; }

.post {
  background-color: #fff;
  border-radius: 18px;
  margin-bottom: 36px;
  position: relative;
  padding-bottom: 36px;
  font-weight: 300; }
  .post strong {
    color: #424242;
    font-weight: normal; }

.post-header > * {
  color: #f37945;
  text-decoration: none;
  font-weight: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px; }

.post-date {
  font-size: 10px;
  position: absolute;
  bottom: 9px;
  right: 18px;
  color: gray; }

.widget {
  padding: 18px 0;
  border-top: solid thin #eee;
  border-bottom: solid thin #ddd; }
  .widget:first-of-type {
    padding-top: 0;
    border-top: none; }
  .widget:last-of-type {
    padding-bottom: 0;
    border-bottom: none; }

.widget-title {
  font-weight: 300;
  color: #f37945;
  font-size: 18px;
  margin-bottom: 9px; }

.widget_archive > ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .widget_archive > ul > li {
    margin: 0;
    padding: 0;
    color: #ccc; }
    .widget_archive > ul > li a {
      text-decoration: none; }
      .widget_archive > ul > li a:hover {
        text-decoration: underline; }

.page-numbers {
  padding: 4px 8px; }

.page-numbers, .page-numbers > * {
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  text-decoration: none;
  background-color: #7bcdcb;
  display: inline-block; }
  .page-numbers.current, .page-numbers > *.current {
    color: #aaa;
    background-color: #ddd; }
  .page-numbers .screen-reader-text, .page-numbers > * .screen-reader-text {
    display: none; }

.pagination {
  float: right; }

.page-header {
  font-weight: 400;
  color: #aaa;
  text-shadow: 0 1px #fff;
  font-size: 20px;
  line-height: 24px;
  padding-left: 36px;
  margin-bottom: 18px;
  text-transform: uppercase;
  letter-spacing: .02em; }
  .page-header > .calendar {
    position: absolute;
    line-height: 24px;
    left: 0;
    top: 0;
    color: #aaa;
    font-size: 24px; }

.copyright {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #fff; }

@media all and (max-width: 640px) {
  #sidebar-right {
    display: none; }

  #header {
    height: 165px;
    position: absolute; }
    #header .header-image {
      height: 165px; }

  [role="main"] {
    padding-top: 183px; } }
