$base-color: #523f6d;
$icon-color: #ece6f6;
$highlight-color: #a3b745;
$notification-color: #d46f15;

$form-checked: $base-color;

<<<<<<< HEAD
@import "../../colors.css";
=======
>>>>>>> aaf7130cc2c2505efce9574ab828fca95caf51e5
@import "../_admin.scss";
